<% if @admin %>
  <div id="edit_page">
    <div id="edit_form">
      <h3>Edit Product</h3>
      <%= form_with(model: @product, local: true) do |form| %>
        <p>
          <%= form.label :title %><br>
          <%= form.text_field :title %>
        </p>

        <p>
          <%= form.label :description %><br>
          <%= form.text_area :description %>
        </p>

        <p>
          <%= form.label :price %><br>
          <%= form.number_field :price, min: 0 %>
        </p>

        <p>
          <%= form.label :avatar %><br>
          <%= form.file_field :avatar %>
        </p>

        <p>
          <%= form.submit %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
