<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="products_page">
  <% if @admin %>
    <botton id="new_botton">
      <%= link_to "Add Product", new_product_path %>
    </botton>
  <% end %>
  <% @products.each do |product| %>
    <div id="product">
      <%= image_tag(product.avatar.url, id: "product_avatar") %>
      <div id="product_price_rate">
        <div id="product_price">
          <% if product.price == 0 %>
            <p>Free</p>
          <% else %>
            <p><%= product.price %>£</p>
          <% end %>
        </div>
        <div id="product_rate">
          <% if product.totalRates == 0 %>
            <p>No Rates Yet<p>
          <% else %>
            <% rate = (product.rate).round; %>
            <% (0..(rate - 1)).each do |i| %>
              <span class="fa fa-star checked"></span>
            <% end %>
            <% (rate..4).each do |i| %>
              <span class="fa fa-star"></span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div id="product_title">
        <p><%= product.title %><p>
      </div>
      <div id="product_bottons">
        <botton id="product_botton">
          <%= link_to "More", product_path(product.id) %>
        </botton>
        <botton id="product_botton" data-toggle="modal" data-target="#buyModal">
          <a>Buy</a>
        </botton>
      </div>

      <div class="modal" id="buyModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div id="buyingModal" class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">We Are Sorry!</h4>
            </div>
            <div class="modal-body">
              <% if user_signed_in? %>
                <p>Buying system is still not available.</p>
              <% else %>
                <p>You should sign in first.</p>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    </div>
  <% end %>
</div>
